.policy-window {
    font-family: SimHei;

    &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
        z-index: 666;
    }

    &-container {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 7777;
        background-color: #fff;
        border: 2rpx solid #F0F2FA;
        border-radius: 10rpx;
        width: 600rpx;
        height: 900rpx;
        overflow: hidden;
    }

    &-close {
        position: absolute;
        top: 15rpx;
        right: 15rpx;
        width: 30rpx;
        height: 30rpx;
        color: #B36AEB;
    }

    &-header {
        position: absolute;
        top: 46rpx;
        left: 20rpx;
        color: #170A1E;
        font-size: 44rpx;
    }

    &-gapline1 {
        position: absolute;
        top: 110rpx;
        left: 50%;
        width: 568rpx;
        height: 2rpx;
        transform: translateX(-50%);
        background-color: #D8C6EF;
    }

    &-content {
        position: absolute;
        top: 110rpx;
        left: 20rpx;
        right: 2rpx;
        bottom: 20rpx;
        padding-right: 16rpx;
        color: #5E5064;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;
        gap: 10rpx; 
        line-height: 1.6;
        font-size: 28rpx;
        &-section {
            margin-top: 10rpx;
        }
    }
}