.login-page {
  width: 100%;
  height: 100%;
  font-family: SimHei;
  &-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a84adf;
    margin-top: 100rpx;
    margin-bottom: 90rpx;
    height: 400rpx;
    position: relative;
    &-img {
      position: absolute;
      top: 0;
      width: 240rpx;
    }
    &-text {
      position: absolute;
      top: 260rpx;
      font-size: 60rpx;
      margin-bottom: 10rpx;
    }
    &-desc {
      position: absolute;
      top: 340rpx;
      font-size: 48rpx;
    }
  }
  &-form {
    width: 86%;
    margin: 0 auto;
    margin-bottom: 80rpx;
    height: 400rpx;
    position: relative;
    &-title {
      color: #a84adf;
      font-size: 36rpx;
      margin-bottom: 15rpx;
    }
    &-input {
      border-bottom: 2px solid #d8c6ef;
      padding-left: 20rpx;
      height: 80rpx;
      display: flex;
      align-items: center;
      margin-bottom: 30rpx;
      color: #5e5064;
      &-text {
        font-family: SimHei;
        font-size: 28rpx;
      }
      &-icon {
        width: 40rpx;
        position: absolute;
        right: 60rpx;
      }
    }
    &-error {
      font-size: 24rpx;
      color: #b72b2b;
      margin-left: 20rpx;
    }
    &-privacy {
      position: absolute;
      bottom: 10rpx;
      font-size: 28rpx;
      color: #5e5064;
      margin-left: 20rpx;
      display: flex;
      &-check {
        width: 28rpx;
        height: 28rpx;
        border: 2rpx solid #b36aeb;
        border-radius: 50%;
        margin-right: 10rpx;
      }
      &-check-active {
        @extend .login-page-form-privacy-check;
        background-color: #b36aeb;
        border: 2rpx solid #b36aeb;
        display: flex;
        justify-content: center;
        position: relative;
        &-icon {
          position: absolute;
          top: 6rpx;
          width: 18rpx;
          height: 8rpx;
          border-left: 4rpx solid white;
          border-bottom: 4rpx solid white;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &-btn {
    margin: 0 auto;
    width: 620rpx;
    height: 100rpx;
    background-color: #cf79fa;
    line-height: 100rpx;
    text-align: center;
    color: #fffeff;
    font-size: 42rpx;
    border-radius: 50rpx;
  }
}
