.actComment {
  position: relative;
  width: 100%;
  font-family: SimHei;
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;

  // 帖子内容区域
  .post-content {
    position: relative;
    background: #fff;
    z-index: 1;
    //padding-bottom: 20rpx;
  }
  .sheet-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 20rpx;
    z-index: 10;
  }

  // 拖动把手
  .drag-handle {
    position: relative;
    height: 80rpx;
    background: #fff;
    z-index: 20;
    border-top: 2rpx solid #f1eefc;
    &-bar {
      margin-top: 10px;
      margin-left: 50%;
      transform: translateX(-40rpx);
      width: 80rpx;
      height: 6rpx;
      background: #bebdbe;
      border-radius: 4rpx;
    }
    &-content {
      width: 100%;
      margin-top: 10rpx;
      display: flex;
      gap: 80rpx;
      justify-content: center;
      &-text {
        font-size: 28rpx;
        color: #5e5064;
      }
    }
  }

  // 评论面板
  .comment-panel {
    position: relative;
    background: #fff;
    z-index: 10;
    border-radius: 20rpx 20rpx 0 0;
    overflow: hidden;
    min-height: 0;
    flex: 1;
    overflow: hidden;
    padding-bottom: 160rpx;
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding-bottom: 40rpx;
  }

  &-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100rpx;
    padding-bottom: 60rpx;
    border-top: 2rpx solid #f1eefc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 30;

    &-input {
      width: 300rpx;
      height: 60rpx;
      border-radius: 40rpx;
      background-color: #f9f8fc;
      display: flex;
      gap: 10rpx;
      align-items: center;
      margin-left: 20rpx;
      &-icon {
        width: 40rpx;
        margin-left: 40rpx;
        margin-right: 5rpx;
      }

      &-text {
        font-size: 26rpx;
        color: #5e5064;
        font-family: SimHei;
        opacity: 0.5;
      }
    }

    &-desc {
      display: flex;
      align-items: center;
      gap: 15rpx;
      color: #695c6f;
      margin-right: 40rpx;
      &-item {
        display: flex;
        gap: 10rpx;
        align-items: center;
        width: 90rpx;
      }

      &-icon1 {
        width: 45rpx;
        flex-shrink: 0;
      }

      &-icon2 {
        width: 50rpx;
        flex-shrink: 0;
      }

      &-icon3 {
        width: 45rpx;
        flex-shrink: 0;
      }

      &-text {
        white-space: nowrap;
        font-size: 24rpx;
      }
    }
  }
}

.comment-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;

  &-cancel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &-box {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10rpx 15rpx 20rpx 15rpx;

    &-input {
      flex: 1;
      width: 600rpx;
      height: 120rpx;
      border-radius: 40rpx;
      background-color: #f9f8fc;
      align-items: center;
      justify-content: space-between;
      padding: 0 40rpx;
      font-size: 30rpx;
      font-family: SimHei;
      margin-right: 10rpx;
    }

    &-send {
      display: flex;
      background-color: #d7ccf9;
      border-radius: 30rpx;
      height: 60rpx;
      width: 130rpx;
      align-items: center;
      justify-content: center;
      font-size: 35rpx;
      color: #fff;
      line-height: 50rpx;
      padding: 6rpx 6rpx 6rpx 6rpx;
      margin-right: 15rpx;

      &-active {
        background-color: #b36aeb;
      }
    }
  }
}
.showpicture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.showpicture-swiper-item-img {
  width: 100%;
  height: 100%;
}

.showpicture-swiper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showpicture-swiper-widthimg {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-y: auto;
}
.showpicture-swiper-heigthimg {
  width: 100%;
  display: flex;
  overflow-y: auto;
}
