.addPeoplepage {
  width: 100%;
  height: 100vh;
  background-color: #f9f8fc;
  font-family: SimHei;
  position: relative;
  &-title {
    @extend.index;
    top: 40rpx;
    font-size: 48rpx;
    color: #222222;
  }
  &-form {
    @extend.index;
    top: 160rpx;
    width: 90%;
    display: flex;
    gap: 30rpx;
    flex-direction: column;
    align-items: center;
    &-item {
      background-color: #fff;
      width: 600rpx;
      height: 112rpx;
      display: flex;
      align-items: center;
      border-radius: 30rpx;
    }
    &-input1 {
      position: absolute;
      left: 270rpx;
      @extend.input;
    }
    &-input2 {
      @extend.input;
      position: absolute;
      left: 210rpx;
    }
  }
  &-button {
    @extend.index;
    top: 500rpx;
    width: 600rpx;
    height: 112rpx;
    background-color: #cf79fa;
    border-radius: 30rpx;
    line-height: 112rpx;
    text-align: center;
    color: #fffeff;
    font-size: 42rpx;
  }
}

.index {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.placeholder {
  color: #aea7b1;
  font-family: SimHei;
  font-size: 36rpx;
}

.input {
  font-family: SimHei;
  font-size: 36rpx;
  color: #5e5064;
}
