.addblog-introduce {
  width: 100%;
  height: 100vh;
  background-color: #f9f8fc;
  font-family: SimHei;
  position: relative;

  &-container {
    display: flex;
    flex-direction: column;

    &-title {
      position: absolute;
      left: 72rpx;
      color: #5e5064;
      font-size: 28rpx;
    }

    &-content {
      position: absolute;
      top: 30rpx;
      left: 40rpx;
      background: #fff;
      border-radius: 16rpx;
      width: 90%;
      height: 820rpx;

      &-title {
        position: absolute;
        top: 44rpx;
        left: 40rpx;
        width: 100%;
        font-size: 44rpx;
        color: #170a1e;

        &-placeholder {
          font-size: 44rpx;
          color: #170a1e;
          font-family: SimHei;
        }
      }

      &-desc {
        position: absolute;
        top: 124rpx;
        left: 40rpx;
        width: 90%;
        font-size: 28rpx;
        color: #5e5064;

        &-placeholder {
          font-size: 28rpx;
          color: #5e5064;
          font-family: SimHei;
        }
      }

      &-pic {
        position: absolute;
        bottom: 54rpx;
        left: 54rpx;
        width: 90%;
        height: 380rpx;
        display: flex;
        flex-wrap: wrap;
        overflow-x: scroll;

        &-addblog {
          width: 180rpx;
          height: 180rpx;
          background-color: #f5f5f5;
          margin-right: 8rpx;
          margin-bottom: 8rpx;
          border-radius: 20rpx;
          line-height: 180rpx;
          text-align: center;
          color: #cccccc;
          font-size: 100rpx;
        }
      }
    }
  }

  &-floor {
    width: 100%;
    position: absolute;
    bottom: 94rpx;
    display: flex;
    align-items: center;

    &-draft {
      position: absolute;
      left: 60rpx;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-text {
        margin-top: 10rpx;
        font-size: 30rpx;
        color: #606266;
      }
    }

    &-btn {
      position: absolute;
      left: 180rpx;
    }
  }
}
