.isCheckingPage {
  font-family: SimHei;
  width: 100%;
  height: 100vh;
  background-color: #f9f8fc;
  position: relative;

  &-state {
    position: absolute;
    margin-top: 35vh;
    z-index: 6;

    &-img {
      width: 580rpx;
      margin-left: 50rpx;
      z-index: 7;
    }
  }

  &-container {
    margin-top: 10rpx;
    margin-bottom: 10rpx;
    margin-left: 5%;
    background-color: #fff;
    border: 2rpx solid #f0f2fa;
    border-radius: 20rpx;
    width: 90%;
    height: 900rpx;
  }

  &-header {
    margin: 30rpx 10rpx 0 30rpx;
    color: #170a1e;
    font-size: 44rpx;
  }

  &-gapline1 {
    width: 90%;
    margin-left: 5%;
    margin-top: 20rpx;
    height: 2rpx;
    background-color: #d8c6ef;
  }

  &-content {
    margin: 30rpx 10rpx 0 30rpx;
    color: #5e5064;
    font-size: 28rpx;
  }

  &-label {
    overflow-x: scroll;
    margin-left: 20rpx;
    margin-top: 100rpx;
    display: flex;
    width: 540rpx;

    &-item {
      font-size: 24rpx;
      color: #5e5064;
      height: 40rpx;
      width: 200rpx;
      background-color: #f3f3fb;
      border-radius: 20rpx;
      margin: 0 10rpx;
      line-height: 40rpx;
      text-align: center;
    }
  }

  &-pic {
    margin-top: 30rpx;
    margin-left: 30rpx;
    display: flex;
    flex-wrap: wrap;
  }
}
