.blog-add {
    position: fixed;
    bottom: 50rpx;
    right: 50rpx;
    width: 130rpx;
    height: 130rpx;
    background-color: #CF79FA;
    border-radius: 130rpx;
    line-height: 114rpx;
    text-align: center;
    color: #fff;
    z-index: 3;
    font-size: 120rpx;
    font-weight: 300;
}