.addPeopleIndex {
  width: 100%;
  height: 100vh;
  background-color: #f9f8fc;
  font-family: SimHei;
  &-title {
    color: #5e5064;
    font-size: 32rpx;
    text-align: right;
    width: 90%;
    margin: 0 auto;
  }
  &-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  &-add {
    width: 90%;
    margin: 0 auto;
    height: 120rpx;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 0 0 10rpx 10rpx;
    @extend .border-bottom;
    &-icon {
      margin-left: 30rpx;
      width: 60rpx;
      height: 60rpx;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.0784);
      line-height: 60rpx;
      text-align: center;
      color: #736f80;
      font-size: 50rpx;
    }
    &-text {
      margin-left: 30rpx;
      color: #5e5064;
      font-size: 32rpx;
    }
  }
  &-footer {
    position: absolute;
    left: 50%;
    bottom: 50rpx;
    transform: translateX(-50%);
    width: 670rpx;
    height: 112rpx;
    background-color: #cf79fa;
    border-radius: 20rpx;
    line-height: 112rpx;
    text-align: center;
    color: #fffeff;
    font-size: 42rpx;
  }
}

.addPeopleItem {
  width: 100%;
  height: 120rpx;
  background-color: #fff;
  display: flex;
  align-items: center;
  &-edit {
    margin-left: 30rpx;
    width: 60rpx;
    height: 60rpx;
    border-radius: 50%;
    border: 4rpx solid #dbd2d2;
    box-sizing: border-box;
    background-color: #ee604a;
    color: #fff;
    font-size: 50rpx;
    font-weight: 700;
    text-align: center;
    line-height: 60rpx;
  }
  &-id {
    margin-left: 30rpx;
    width: 60rpx;
    height: 60rpx;
    background-color: #cf79fa;
    border-radius: 50%;
    color: #fff;
    font-size: 40rpx;
    text-align: center;
    line-height: 60rpx;
  }
  &-info {
    margin-left: 30rpx;
    &-name {
      color: #5e5064;
      font-size: 32rpx;
    }
    &-number {
      color: #5e5064;
      font-size: 20rpx;
    }
  }
}

.border {
  border-bottom: 3rpx solid #f1eefc;
  border-left: 2rpx solid #eff2fa;
  border-right: 2rpx solid #eff2fa;
}

.border-top {
  border-radius: 10rpx 10rpx 0 0;
  border-top: 2rpx solid #eff2fa;
  border-left: 2rpx solid #eff2fa;
  border-right: 2rpx solid #eff2fa;
}

.border-bottom {
  border-radius: 0 0 10rpx 10rpx;
  border-bottom: 2rpx solid #eff2fa;
  border-left: 2rpx solid #eff2fa;
  border-right: 2rpx solid #eff2fa;
}
