.addSuccess-page {
  width: 100%;
  height: calc(100vh - 180rpx);
  margin-top: 180rpx;
  font-family: SimHei;
  &-content {
    position: absolute;
    left: 50%;
    top: 500rpx;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img {
      width: 150rpx;
      margin-bottom: 20rpx;
    }
    &-title {
      font-size: 46rpx;
      color: #7d73f0;
      margin-bottom: 18rpx;
    }
    &-desc {
      font-size: 30rpx;
      color: #9d89f9;
      width: 450rpx;
      text-align: center;
    }
  }
  &-btn {
    position: absolute;
    top: 1000rpx;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    height: 256rpx;
    justify-content: space-between;
  }
}
