.formWindow {
  width: 100%;
  max-height: 1100rpx;
  background-color: #fff;
  border-radius: 20rpx 20rpx 0 0;
  display: flex;
  flex-direction: column;
  font-size: 40rpx;
  color: #170a1e;
  &-title {
    height: 120rpx;
    width: 100%;
    border-radius: 20rpx 20rpx 0 0;
    border-bottom: 2rpx solid #d8c6ef;
    position: relative;
    &-text {
      position: absolute;
      left: 62rpx;
      top: 62rpx;
    }
    &-close {
      position: absolute;
      right: 62rpx;
      top: 62rpx;
      color: #b36aeb;
    }
  }
  &-item {
    width: 100%;
    height: 140rpx;
    display: flex;
    position: relative;
    &-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 60rpx;
      width: 44rpx;
      height: 44rpx;
      border-radius: 50%;
      border: 3rpx solid #d8c6ef;
    }
    &-text {
      position: absolute;
      left: 140rpx;
      height: 90%;
      width: 650rpx;
      line-height: 140rpx;
      border-bottom: 4rpx solid #dfc0f7;
    }
  }
}
