.postComment {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20rpx;
  &-content {
    width: 100%;
    height: 200rpx;
    position: relative;
    border-top: 1px solid #f1eefc;
  }
  &-avatar {
    position: absolute;
    top: 40rpx;
    left: 40rpx;
    width: 80rpx;
    height: 80rpx;
    border-radius: 50%;
  }
  &-favor {
    position: absolute;
    top: 40rpx;
    right: 80rpx;
    width: 40rpx;
    height: 40rpx;
  }
  &-likeNum {
    position: absolute;
    top: 40rpx;
    right: 40rpx;
    height: 40rpx;
    font-size: 32rpx;
    line-height: 40rpx;
    color: #5e5064;
  }
  &-info {
    position: absolute;
    top: 40rpx;
    left: 140rpx;
    display: flex;
    flex-direction: column;
    gap: 20rpx;
    &-name {
      font-size: 30rpx;
      color: #5e5064;
      opacity: 0.5;
    }
    &-content {
      width: 80%;
      font-size: 32rpx;
      color: #5e5064;
    }
    &-timesite {
      font-size: 24rpx;
      color: rgba(94, 80, 100, 0.5);
      display: flex;
      gap: 20rpx;
    }
    &-reply {
      color: #5e5064;
    }
  }
  &-reply {
    padding-left: 100rpx;
    display: flex;
    flex-direction: column;
  }
}
