.search {
  width: 100%;
  height: 100rpx;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  z-index: 100;
  background-color: #ffffff;
  transform: translateY(-1rpx);

  .search-input-box {
    display: flex;
    position: absolute;
    width: 73%;
    left: 5%;
    height: 50rpx;
    border: 3.5rpx solid #7d73f0;
    border-radius: 25rpx;
    justify-content: center;
    background-color: #fff;
    font: {
      size: 24rpx;
      family: 'SimHei';
    }
    .search-input {
      width: 80%;
      height: 50rpx;
      position: absolute;
      left: 75rpx;
    }
    .input-placeholder {
      color: #7d73f0;
    }
  }
  .search-cancel {
    position: absolute;
    right: 8%;
    font-size: 25rpx;
    color: #7d73f0;
  }
}
.search-icon {
  position: absolute;
  top: 8rpx;
  left: 15rpx;
  height: 35rpx;
  width: 35rpx;
  margin: 0 10rpx;
}
.mySearch-page {
  width: 100%;
  height: calc(100vh - 280rpx);
  position: relative;
  margin-top: 180rpx;
  font-family: 'SimHei';
  display: flex;
  flex-direction: column;
  gap: 20rpx;
  background-color: #ffffff;
  .mine-order {
    width: 100%;
    background-color: transparent;
    height: 60%;
    border-radius: 20rpx 20rpx 0 0;
    &-title {
      position: relative;
      top: 80rpx;
      z-index: 10;
      height: 160rpx;
      width: 100%;
      background-color: #fff;
      border-radius: 10rpx 10rpx 0 0;
      border-bottom: 2rpx solid #d8c6ef;
      &-choice {
        position: absolute;
        top: 0;
        width: 100%;
        height: 90rpx;
        margin-left: 60rpx;
        gap: 60rpx;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #828283;
        font-size: 36rpx;
        &-left {
          padding-left: 0rpx;
        }
        &-check {
          padding-right: 115rpx;
        }
        &-img {
          position: absolute;
          width: 36rpx;
          height: 36rpx;
          right: 120rpx;
          top: 34rpx;
        }
      }
      &-line {
        position: absolute;
        top: 90rpx;
        width: 100%;
        height: 0;
        border: 2rpx solid #f9f8fc;
      }
      &-index {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70rpx;
        margin-left: 60rpx;
        gap: 60rpx;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #828283;
        font-size: 32rpx;
        &-left {
          padding-left: 0rpx;
        }
        &-right {
          padding-right: 0rpx;
        }
      }
    }
  }
  .mine-content {
    margin-top: 110rpx;
  }
}

.active-decoration {
  color: #4d4d4e;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -8rpx;
    width: 60rpx;
    height: 6rpx;
    background-color: #7d73f0;
    border-radius: 6rpx;
  }
}

.active-decoration-left {
  @extend.active-decoration;
  &::after {
    left: 4rpx;
  }
}
.active-decoration-right {
  @extend.active-decoration;
  &::after {
    left: 4rpx;
  }
}

.active-decoration-item {
  color: #4d4d4e;
}

.mine-content {
  position: relative;
  top: -23rpx;
}
