.add-label {
  width: 100%;
  height: calc(100vh - 180rpx);
  margin-top: 180rpx;
  overflow-x: scroll;
  background-color: #f9f8fc;
  display: flex;
  flex-direction: column;
  font-family: SimHei;
  align-items: center;
  &-form-container {
    width: 100%;
    height: calc(100vh - 340rpx);
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  &-title {
    height: 120rpx;
    width: 670rpx;
    background-color: #fff;
    font-size: 34rpx;
    padding-left: 20rpx;
    line-height: 120rpx;
    border-radius: 15rpx;
    margin-bottom: 15rpx;
  }
  &-form {
    width: 690rpx;
    margin-bottom: 15rpx;
  }
  &-last {
    @extend.add-label-title;
    margin-bottom: 30rpx;
    font-size: 34rpx;
    padding-left: 20rpx;
  }
  &-floor {
    width: 100%;
    position: absolute;
    bottom: 94rpx;
    display: flex;
    align-items: center;
    &-draft {
      position: absolute;
      left: 30rpx;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-text {
        margin-top: 5rpx;
        font-size: 24rpx;
        color: #828283;
      }
    }
    &-btn {
      position: absolute;
      left: 150rpx;
    }
  }
}

.textmid {
  text-align: center;
  justify-content: center;
}
