.add-label {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 180rpx;
  background-color: #f9f8fc;
  font-family: SimHei;
  &-form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 160rpx;
  }

  &-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title {
    height: 120rpx;
    width: 670rpx;
    background-color: #fff;
    font-size: 34rpx;
    padding-left: 20rpx;
    line-height: 120rpx;
    border-radius: 15rpx;
    margin-bottom: 15rpx;
  }
  &-form {
    width: 690rpx;
    margin-bottom: 15rpx;
  }
  &-last {
    @extend .add-label-title;
    margin-bottom: 30rpx;
    font-size: 34rpx;
    padding-left: 20rpx;
  }
  &-floor {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180rpx;
    background-color: #fff;
    border-top: 2rpx solid #f1eefc;
    z-index: 10;
    &-draft {
      position: absolute;
      left: 30rpx;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      &-text {
        margin-top: 5rpx;
        font-size: 24rpx;
        color: #828283;
      }
    }
    &-btn {
      position: absolute;
      left: 150rpx;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.textmid {
  text-align: center;
  justify-content: center;
}
