.add-introduce {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 180rpx;
  background-color: #f9f8fc;
  font-family: SimHei;
  &-container {
    padding-bottom: 160rpx;

    &-title {
      margin-left: 72rpx;
      color: #5e5064;
      font-size: 28rpx;
      margin-bottom: 20rpx;
    }

    &-content {
      margin-left: 5%;
      margin-right: 5%;
      padding: 30rpx;
      background: #fff;
      border-radius: 16rpx;

      &-title {
        font-size: 38rpx;
        color: #170a1e;

        &-placeholder {
          font-size: 38rpx;
          color: #666;
          font-family: SimHei;
        }
      }

      &-desc {
        min-height: 200rpx;
        max-height: 800rpx;
        font-size: 26rpx;
        color: #5e5064;
        &-placeholder {
          font-size: 26rpx;
          color: #828283;
          font-family: SimHei;
        }
      }

      &-pic {
        margin-top: 40rpx;
        display: flex;
        flex-wrap: wrap;

        &-add {
          width: 180rpx;
          height: 180rpx;
          background-color: #f5f5f5;
          margin-right: 8rpx;
          margin-bottom: 8rpx;
          border-radius: 20rpx;
          line-height: 180rpx;
          text-align: center;
          color: #cccccc;
          font-size: 100rpx;
        }
      }
    }
  }

  &-floor {
    position: fixed;
    bottom: 94rpx;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10;

    &-draft {
      position: absolute;
      left: 60rpx;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-text {
        margin-top: 5rpx;
        font-size: 24rpx;
        color: #828283;
      }
    }

    &-btn {
      position: absolute;
      left: 180rpx;
    }
  }
}

.textmid {
  text-align: center;
  justify-content: center;
}
