.form {
    width: 690rpx;
    height: 200rpx;
    background-color: #fff;
    border-radius: 10rpx;
    .form-title-container {
        position: absolute;
        top: 30rpx;
        left: 20rpx;
        font: {
            size: 40rpx;
            family: SimHei;
        }
        .form-required {
            color: rgb(217, 2, 32);
            margin-right: 10rpx;
        }
        .form-title {
            color: #170A1E;
        }
    }
    .form-item {
        position: absolute;
        top: 100rpx;
        left: 50rpx;
        width: 600rpx;
        height: 60rpx;
        border: 2rpx solid #B36AEB;
        border-radius: 16rpx;
        display: flex;
        align-items: center;
        .form-item-gap {
            width: 15rpx;
        }
        .form-input {
            flex: 1;
        }
    }
}