.btn {
    width: 550rpx;
    height: 112rpx;
    line-height: 112rpx;
    border-radius:30rpx;
    text-align: center;
    font: {
        size: 42rpx;
        family: "SimHei";
    }
}

.btn-border {
    border: 4rpx solid #F2D1F9;
}


