.commentOperation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.commentOperation-box {
  width: 100%;
  height: 350rpx;
  background-color: #fff;
  position: relative;
  border-radius: 10rpx 10rpx 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.commentOperation-top {
  width: 100%;
  height: 120rpx;
  background-color: #dfdee2;
  border-bottom: 2rpx solid #f1eefc;
  display: flex;
  justify-content: flex-start;
  gap: 40rpx;
  &-user {
    width: 80rpx;
    height: 80rpx;
    border-radius: 50%;
    background-color: #f9f8fc;
    margin-left: 20rpx;
    margin-top: 20rpx;
    overflow: hidden;
  }
  &-text {
    font-size: 30rpx;
    text-align: center;
    line-height: 120rpx;
  }
}
.commentOperation-btn {
  width: 100%;
  height: 200rpx;
  display: flex;
  justify-content: flex-start;
  gap: 60rpx;
  padding-left: 40rpx;
  &-item {
    width: 100rpx;
    height: 150rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-icon {
    width: 100rpx;
    height: 100rpx;
    border-radius: 50%;
    background-color: #f9f8fc;
    margin-top: 10rpx;
    overflow: hidden;
    &-copy {
      width: 50rpx;
      height: 50rpx;
      margin-top: 25rpx;
      margin-left: 25rpx;
    }
    &-delete {
      width: 40rpx;
      height: 40rpx;
      margin-top: 33rpx;
      margin-left: 31rpx;
    }
    &-report {
      width: 50rpx;
      height: 50rpx;
      margin-top: 25rpx;
      margin-left: 25rpx;
    }
  }
  &-text {
    width: 100rpx;
    font-size: 25rpx;
    color: #5e5064;
    font-family: SimHei;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.draftWindow-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  width: 86%;
  height: 260rpx;
  background-color: #fff;
  border: 2rpx solid #f0f2fa;
  border-radius: 10rpx;
  &-title {
    font-size: 44rpx;
    color: #170a1e;
    text-align: center;
    height: 130rpx;
    line-height: 130rpx;
  }
  &-line {
    height: 1rpx;
    width: 90%;
    background-color: #d8c6ef;
    margin: 0 auto;
  }
  &-btn {
    display: flex;
    width: 100%;
    height: 129rpx;
    &-item {
      flex: 1;
      text-align: center;
      height: 100%;
      line-height: 129rpx;
      text-align: center;
      font-size: 48rpx;
      color: #828283;
    }
  }
  &-mask {
    position: absolute;
    top: 15rpx;
    right: 15rpx;
    color: #b36aeb;
    font-weight: 700;
  }
}

.textmid {
  text-align: center;
  justify-content: center;
}
