.ReplyComment {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  &-content {
    width: 100%;
    height: auto;
    position: relative;
  }
  &-avatar {
    position: absolute;
    left: 20rpx;
    border-radius: 50%;
  }
  &-favor {
    position: absolute;
    bottom: 10rpx;
    right: 80rpx;
    width: 35rpx;
    height: 35rpx;
  }
  &-likeNum {
    position: absolute;
    bottom: 7rpx;
    right: 40rpx;
    height: 40rpx;
    font-size: 30rpx;
    vertical-align: middle;
    color: #828283;
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 10rpx;
    &-name {
      font-size: 28rpx;
      color: #3d3d3d;
      margin-top: 10rpx;
    }
    &-content {
      width: 80%;
      font-size: 26rpx;
      color: #333333;
    }
    &-timesite {
      font-size: 24rpx;
      color: #999999;
      display: flex;
      gap: 20rpx;
    }
  }
}
