.tabbar {
  position: relative;
  height: 120rpx;
  display: flex;
  background: #fff;
  border-top: 1px solid #eee;
  overflow: hidden;
}
.tab-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25rpx;
}
.tab-title {
  display: flex;
  font-size: 28rpx;
  color: #79787d;

  transition: color 0.4s;
}

.tab-char {
  transition:
    transform 0.45s cubic-bezier(0.34, 1.56, 0.64, 1),
    font-weight 0.4s;
}

.tab-icon {
  width: 48rpx;
  height: 48rpx;
  position: absolute;
  margin-top: 18rpx;
}

.tab-default {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tab-active-icon {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.45s ease;
}

.tab-item.active .tab-default {
  opacity: 1;
}

.tab-item.active .tab-active-icon {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 40%,
    black 60%,
    black 100%
  );

  -webkit-mask-size: 200% 100%;
  -webkit-mask-position: right;
  transition:
    transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.25s,
    -webkit-mask-position 0.45s ease;
}

.tab-item.active .tab-title {
  color: #222;
  font-weight: 650;
  font-size: 33rpx;
}

.tab-item.active .char-left {
  transform: translateY(-6rpx);
}

.tab-item.active .char-right {
  transform: translateY(-12rpx) translateX(4rpx);
}
