.active {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color:  #F9F8FC;
    .sticky-header {
        position: absolute;
        width: 100%;
        height: 40rpx;
        background-color: #fff;
        z-index: 2;
    }
    .sticky-item {
        position: absolute;
        top: 300rpx;
        left: 25rpx;
        width: 100%;
        overflow-x: hidden;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}