.btn {
  width: 550rpx;
  height: 100rpx;
  line-height: 100rpx;
  border-radius: 30rpx;
  text-align: center;
  font: {
    size: 36rpx;
    family: 'SimHei';
  }
}

.btn-border {
  border: 4rpx solid #f2d1f9;
}
