.add-page {
    width: 100%;
    height: calc(100% - 180rpx);
    background-color: #F9F8FC;
    position: absolute;
    top: 180rpx;
    .add-main {
        position: absolute;
        top: 20%;
        left: 50%;
        width: 80%;
        transform: translateX(-50%);
        text-align: center;
        justify-content: center;
        .add-pic {
            width: 80%;
        }
        .add-text {
            font-family: SimHei;
            font-size: 32rpx;
            letter-spacing: 0em;
            color: #170A1E;
        }
    }
    .add-begin {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 80%;
        height: 400rpx;
        transform: translateX(-50%);
        text-align: center;
        justify-content: center;
        .add-btn {
            position: absolute;
            left: 5%;
        }
        .add-remind {
            position: absolute;
            top: 130rpx;
            left: 10%;
            width: 80%;
            height: 100rpx;
            display: flex;
            text-align: center;
            justify-content: center;
            // background: #000;
            .remind-pic {
                width: 30rpx;
                margin-right: 10rpx;
            }
            .remind-text {
                font-family: SimHei;
                font-size: 30rpx;
                color: #C378E3;
            }
        }
    }
}