.blog-page {
  width: 100%;
  height: calc(100% - 180rpx);
  overflow: hidden;
  background-color: #f9f8fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 180rpx;
  .blog-container {
    background-color: #f9f8fc;
    width: 90%;
    overflow: hidden;
  }
  //搜索栏
  .info-icon {
    position: absolute;
    width: 50rpx;
    position: relative;
    &-container{
      display: inline-block;
      position: relative;
      left: 40rpx;
      top: 25rpx;
    }
    &-msg{
      position: absolute;
      width: 25rpx;
      height: 25rpx;
      top: -16rpx;
      right: -20rpx;
      border-radius: 50%;
      font-size: 20rpx;
      line-height: 22rpx;
      font-weight: 700;
      background-color: red;
      color: white;
      text-align: center;
    }
  }
  .search-container {
    width: 100%;
    background-color: #fff;
    height: 90rpx;
    margin-bottom: 20rpx;
    position: sticky;
    top: 0;
    display: flex;
    .sticky-search {
      width: 80%;
      height: 100rpx;
      display: flex;
      position: absolute;
      right: 30rpx;
      align-items: center;

      .search-input-box {
        display: flex;
        position: absolute;
        left: 8rpx;
        width: 76%;
        height: 60rpx;
        border: 3.5rpx solid #a84adf;
        border-radius: 18rpx;
        justify-content: center;
        background-color: #fff;
        font: {
          size: 24rpx;
          family: "SimHei";
        }
        .gap {
          position: absolute;
          top: 16rpx;
          left: 10rpx;
          height: 25rpx;
          width: 28rpx;
          margin: 0 10rpx;
          // background-color: #000;
        }
        .search-input {
          width: 100%;
          height: 60rpx;
          position: absolute;
          left: 54rpx;
        }
      }
      .search-btn {
        text-align: center;
        position: absolute;
        right: 0;
        width: 16%;
        height: 60rpx;
        line-height: 60rpx;

        border-radius: 20rpx;
        border: none;
        background: linear-gradient(90deg, #efc3f7 0%, #c780ed 100%);
        font: {
          size: 25rpx;
          family: "SimHei";
        }
        color: #fff;
      }
    }
  }
}
